<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!-- <div style="border-bottom: 2px solid #80D651; border-left: 2px solid #80D651" class="panel-heading">
                    <a href="#!category/1" class="badge bgblue">Frontend</a> >> <a href="#!item/1" class="badge bgorange">Language/Framework/Technology</a> >> <a href="#!item/3" class="badge bggreen">Angularjs</a> >> <span class="item-title">Milestone: Read full doc & keep a summarize gist</span>
                </div> -->
                <div data-ng-include="'angularpart/views/partials/breadcrumb.html'"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-10">
                            <form class="form-horizontal">

                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Title</label>

                                    <div class="col-md-6">
                                        <input id="name" type="text" class="form-control" data-ng-model="item.item_title" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Description</label>

                                    <div class="col-md-6">
                                        <textarea class="form-control" rows="3" data-ng-model="item.item_description"></textarea>
                                    </div>
                                </div>
                                <div data-ng-if="item.type_id == 5" class="form-group">
                                    <label for="item_outcome" class="col-md-4 control-label">Outcome</label>

                                    <div class="col-md-6">
                                        <textarea class="form-control" rows="3" data-ng-model="item.item_outcome"></textarea>
                                    </div>
                                </div>
                                <div data-ng-if="item.type_id == 5" class="form-group">
                                    <label for="item_point" class="col-md-4 control-label">Point</label>

                                    <div class="col-md-6">
                                        <input id="item_point" type="text" class="form-control" data-ng-model="item.item_point" required autofocus>
                                    </div>
                                </div>
                                <div data-ng-if="item.type_id == 5" class="form-group">
                                    <label for="name" class="col-md-4 control-label">Status</label>

                                    <div class="col-md-6">
                                        <select class="form-control" data-ng-model="item.status_id" data-ng-options="status.status_id as status.status_title for status in statuses">
                                        </select>                                        
                                    </div>
                                </div>
                                <div data-ng-if="item.type_id == 4" class="form-group">
                                    <label for="name" class="col-md-4 control-label">Color</label>

                                    <div class="col-md-8">
                                        <label data-ng-repeat="color in colors" class="radio-inline"><input type="radio" data-ng-model="item.color_id" data-ng-value="color.color_id"><span style="background-color: {{color.color_code}} ;" class="label">{{item.item_title}}</span></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        <button data-ng-click="itemFormSave()" type="submit" class="btn btn-primary">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div data-ng-if="item.type_id == 4" data-ng-include="'angularpart/views/partials/item_detail.html'"></div>

                </div>
            </div>
        </div>
    </div>
</div>