<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div style="border-bottom: 2px solid #80D651; border-left: 2px solid #80D651" class="panel-heading">
                    <a href="#!category/1" class="badge bgblue">Frontend</a> >> <a href="#!item/1" class="badge bgorange">Language/Framework/Technology</a> >> <a href="#!item/3" class="badge bggreen">Angularjs</a> >> <span class="item-title">Milestone: Read full doc & keep a summarize gist</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <form class="form-horizontal" method="POST">

                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Title</label>

                                    <div class="col-md-6">
                                        <input id="name" type="text" class="form-control" name="name" value="" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Description</label>

                                    <div class="col-md-6">
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Outcome</label>

                                    <div class="col-md-6">
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Priority</label>

                                    <div class="col-md-6">
                                        <input id="name" type="text" class="form-control" name="name" value="" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Point</label>

                                    <div class="col-md-6">
                                        <input id="name" type="text" class="form-control" name="name" value="" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Status</label>

                                    <div class="col-md-6">
                                        <select class="form-control">
                                            <option value="">To Do</option>
                                            <option value="">In Progress</option>
                                            <option value="">Done</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Color</label>

                                    <div class="col-md-8">
                                        <label class="radio-inline"><input type="radio" name="optradio"><span class="label label-default">Item</span></label>
                                        <label class="radio-inline"><input type="radio" name="optradio"><span style="background-color: #1f618d ;" class="label label-primary">Item</span></label>
                                        <label class="radio-inline"><input type="radio" name="optradio"><span style="background-color: #5bc0de;" class="label">Item</span></label>
                                        <label class="radio-inline"><input type="radio" name="optradio"><span style="background-color: #05c439 ;" class="label">Item</span></label>
                                        <label class="radio-inline"><input type="radio" name="optradio"><span style="background-color: #fd5e13 ;" class="label">Item</span></label>
                                        <label class="radio-inline"><input type="radio" name="optradio"><span class="label label-danger">Item</span></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        <button type="submit" class="btn btn-primary">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">Milestones<span style="float:right">Add</span></div>
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Title</th>
                                                <th>Point</th>
                                                <th>
                                                    Status
                                                    <span class="label label-todo">1</span>
                                                    <span class="label label-inprogress">2</span>
                                                    <span class="label label-done">0</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Read full doc & keep a summarize gist </td>
                                                <td>5</td>
                                                <td><span class="label label-todo">To Do</span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Mark</td>
                                                <td>3</td>
                                                <td><span class="label label-done">Done</span></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Read full doc & keep a summarize gist </td>
                                                <td>2</td>
                                                <td><span class="label label-inprogress">In Progress</span></td>
                                            </tr>
                                        </tbody>
                                    </table>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">Progress</div>
                        <div class="panel-body">
                            <div class="progress">
                                <div class="progress-bar bggreen" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>