<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-default">Add Sub Category</div>
                <div class="panel-body">
                    <form name="myForm">
                        <div class="form-group">
                            <label for="item_title">Title:</label>
                            <input type="text" class="form-control" data-ng-model="item.item_title" required>
                        </div>
                        <div class="form-group">
                            <label for="item_description">Description:</label>
                            <textarea class="form-control" rows="3" data-ng-model="item.item_description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="category_id">Category:</label>
                            <select class="form-control" data-ng-model="item.category_id" data-ng-options="category.category_id as category.category_title for category in categories">
                            </select>  
                        </div>
                        <button data-ng-disabled="myForm.$invalid" data-ng-click="addSubCategory()" type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-default">Sub Category List</div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="sub in subcategories">
                                <th scope="row">{{$index+1}}</th>
                                <td><a href="#!item/{{sub.item_id}}">{{sub.item_title}}</a></td>
                                <td><span class="badge" data-ng-class="{bgviolet: sub.category.category_title == 'Frontend', bgblue: sub.category.category_title == 'Backend'}">{{sub.category.category_title}}</span></td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
            </div>
        </div>
    </div>
</div>