<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Milestone</h4>
            </div>
            <div class="modal-body">
                <input data-ng-if="hasParent" type="hidden" data-ng-model="modal.item_parent_id">
                <input type="hidden" data-ng-model="modal.status_id">
                <input type="hidden" data-ng-model="modal.type_id">
                <div class="row">
                    <form class="form-horizontal">
                        <div data-ng-if="!hasParent" class="form-group">
                            <label for="name" class="col-md-3 control-label">Item</label>

                            <div class="col-md-6">
                                <select class="form-control" data-ng-model="modal.item_parent_id" data-ng-options="item.item_id as item.item_title for item in items">
                                </select>  
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-md-3 control-label">Milestone</label>

                            <div class="col-md-8">
                                <input id="name" type="text" class="form-control" data-ng-model="modal.item_title" placeholder="Title" required autofocus>                                        
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" data-ng-click="modalFormSubmit()">Add</button>
            </div>
        </div>
    
    </div>
</div>