<div class="row">
    <!-- Modal -->
    <div data-ng-include="'/angularpart/views/partials/itemaddmodal.html'"></div>
    <!-- End Modal -->
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Milestones
                <button style="float:right; line-height: 0.5;" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" data-ng-click="modalClick(1, 5)">
                    <span class="glyphicon glyphicon-plus"></span> Add Milestone
                </button>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Point</th>
                            <th>
                                Status
                                <span class="label label-todo">{{status_count[0].total}}</span>
                                <span class="label label-inprogress">{{status_count[1].total}}</span>
                                <span class="label label-done">{{status_count[2].total}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="milestone in item.child">
                            <th scope="row">{{$index+1}}</th>
                            <td><a href="#!item/{{milestone.item_id}}">{{milestone.item_title}}</a></td>
                            <td>{{milestone.item_point}}</td>
                            <td><span class="label label-{{milestone.status.status_class}}">{{milestone.status.status_title}}</span></td>
                        </tr>
                    </tbody>
                </table>  
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Progress</div>
    <div class="panel-body">
        <div class="progress">
            <div class="progress-bar bggreen" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
    </div>
</div>