<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Milestones<span style="float:right">Add</span></div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Point</th>
                            <th>
                                Status
                                <span class="label label-todo">1</span>
                                <span class="label label-inprogress">2</span>
                                <span class="label label-done">0</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Read full doc & keep a summarize gist </td>
                            <td>5</td>
                            <td><span class="label label-todo">To Do</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Mark</td>
                            <td>3</td>
                            <td><span class="label label-done">Done</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Read full doc & keep a summarize gist </td>
                            <td>2</td>
                            <td><span class="label label-inprogress">In Progress</span></td>
                        </tr>
                    </tbody>
                </table>  
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Progress</div>
    <div class="panel-body">
        <div class="progress">
            <div class="progress-bar bggreen" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
    </div>
</div>